
{{!--  {{#each portions as |portion|}} --}}
 <div class="b-order-group__wrapper">
  <div class="b-order-group__row">


                 {{pr-portion portion=portion isManager=isManager}}
  </div>
</div>

<ul class="b-order-group__summary">

   {{#each portion.portion-products as |portion-product|}}

   {{!--  <li > --}}
      {{pr-portion-product product=portion-product.product }}
    {{!-- </li> --}}


{{/each}}
 {{#if isOwner }}
{{#link-to 'portion' portion.id class="button _submit"}}
      Редактировать
    {{/link-to}}
     {{/if}}

</ul>
{{!-- {{/each}} --}}