<div class="b-portion-info">
<div class="b-portion-info__row">
 <div class="b-portion-info__row">
  {{#if canDelete}}
    <button class="b-portion-info__remove-btn" {{action 'del'}}></button>
  {{else}}
    <button class="b-portion-info__remove-btn _disabled"></button>
  {{/if}}
 </div>
  <div class="b-portion-info__cost">{{portion.cost}}</div>
</div>
</div>
