<form class="f-default f-portion">
  <div class="f-default__wrapper">
    {{b-textarea model=this valuePath='text' rows='4' value='text' placeholder='Комментарий к заказу'}}
  </div>
  <button {{action "submit"}} class="button _submit">Добавить</button>
</form>
