  <div class="pr-order__row">
  {{pr-portion-product product=portion-product.product}}
   <div class="pr-order__money b-order-money">
       <button {{action "remove" portion-product}} class="b-portion__remove-btn">-</button>

    </div>
  </div>