  <div class="pr-order__row">
    <div class="pr-order__manager b-person">
    <div class="b-person__name">
       {{product.title}}
      </div>
    </div>
    <time class="pr-order__time">{{product.price}}</time>
  </div>


