.pr-portion-product
  text-decoration none
  display block
  padding 10px
  line-height 1.6

  &__row
    display flex
    justify-content space-between

  &__price
    font-size $h5-font-size
    color $c-dark
    text-align: right

  &__title
    font-size $h4-font-size
    color $c-dark
