.pr-product
  text-decoration none
  display block
  padding 10px
  line-height 1.6

  &__row
    display flex
    justify-content space-between
    margin: 15px 10px;

  &__price
    font-size $h2-font-size
    color $c-dark

  &__image
    max-width: 440px;

  &__description
  &__money
    font-size $h4-font-size
    color $c-dark
    margin-right: 10px;
