<ul class="b-companies">


<div class="pr-order__home">
<span class="pr-order__home-text"> Мои заказы</span>
</div>

      {{admin-order-list model=model.orders}}
<div class="pr-order__home">
<span class="pr-order__home-text"> Неоплаченные заявки</span>
</div>
<div class="pr-order__home">
          {{#each model.portions as |portion|}}
      {{b-order-group order=portion.order portion=portion owner=group.grouper}}
    {{/each}}
    </div>
<div class="pr-order__home">
{{#link-to 'company-orders' session.account.company.id    class="button _submit"}}Перейти к заказам на сегодня{{/link-to}}
</div>

</ul>