<ul class="b-companies">

  <div style="height:50px; width: 50px;"></div>
    <li class="b-companies__item">
      <div class="b-companies__info">
        <span class="b-companies__title">{{session.account.email}}</span>
      </div>
      <div>
        <span class="b-companies__address">Адрес: {{session.account.company.title}}</span>
      </div>
      </li>
      {{#link-to 'company-orders' session.account.company.id}}link{{/link-to}}

      {{admin-order-list model=model.orders}}

          {{#each model.portions as |portion|}}
      {{b-order-group order=portion.order portion=portion owner=group.grouper}}
    {{/each}}



</ul>